In [8]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro, ttest_ind

In [9]:
data = pd.read_csv('pizzas.csv')

In [10]:
data.head()

   Making Unit 1  Making Unit 2
0         6.8090         6.7703
1         6.4376         7.5093
2         6.9157         6.7300
3         7.3012         6.7878
4         7.4488         7.1522

In [11]:
print(f"Shape  : {data.shape}")

Shape  : (35, 2)

In [12]:
alpha = 0.05
p1 = round(shapiro(data['Making Unit 1'])[1],2)
print(f"p - value of unit 1 : {p1}")
p2 = round(shapiro(data['Making Unit 2'])[1],2)
print(f"p - value of unit 2 : {p2}")

p - value of unit 1 : 0.32
p - value of unit 2 : 0.52

In [13]:
H0 = 'Data is normal'
Ha = 'Data is not normal'
if p1 > alpha:
    print(f"{p1} > {alpha}. It is Null Hypothesis for Making Unit 1. {H0}")
else:
    print(f"{p1} <= {alpha}. We reject the Null Hypothesis for Making Unit 1. {Ha}")

if p2 > alpha:
    print(f"{p2} > {alpha}. It is Null Hypothesis for Making Unit 2. {H0}")
else:
    print(f"{p2} <= {alpha}. We reject the Null Hypothesis for Making Unit 2. {Ha}")

0.32 > 0.05. It is Null Hypothesis for Making Unit 1. Data is normal
0.52 > 0.05. It is Null Hypothesis for Making Unit 2. Data is normal

In [14]:
if p1 > alpha and p2 > alpha:
    t_stat, p_value = ttest_ind(data['Making Unit 1'], data['Making Unit 2'])
    print(f"T-statistic: {t_stat}, p-value: {p_value}")

    if p_value < alpha:
        print(f"{p_value} < {alpha}. We reject the Null Hypothesis. There is a significant difference in average diameter.")
    else:
        print(f"{p_value} >= {alpha}. It is the Null Hypothesis. No significant difference in average diameter.")
else:
    print("Normality assumption is violated. Consider using a non-parametric test such as the Mann-Whitney U test.")

T-statistic: 0.7228688704678063, p-value: 0.47223947245995
0.47223947245995 >= 0.05. It is the Null Hypothesis. No significant difference in average diameter.